<div class="contenido-tabla">
    <div class="fila">
        <div class="col">{{id}}</div>
        <div class="col">{{nombre}}</div>
        <div class="col">{{edad}}</div>
        <div class="col">{{correo}}</div>
        <div class="col">{{ciudad}}</div>
    </div>
</div>